# @package _global_
defaults:
    - override /data: mocap/trainX_testY
    - override /model: diffusion/diffusion_pl
    - override /endecoder: diffusion/v1_left_handpose_arcticgrab
    - override /optimizer: adamw_1e-4
    - override /train_datasets:
          - arctic/left_handpose
          - grab/left_handpose
    - override /test_datasets:
          - arctic/left_handpose_test
    - override /callbacks:
          - simple_ckpt_saver/every50e_top100
          - prog_bar/prog_reporter_every0.1
          - train_speed_timer/base
          - lr_monitor/pl
    - override /network: diffusion/handpose_transformer

exp_name_base: diffusion
exp_name_var: "left_handpose"
exp_name: ${exp_name_base}${exp_name_var}
data_name: arcticgrab 

pipeline:
    _target_: coda.model.diff.pipeline.mini_pipeline.Pipeline
    args_denoiser3d:
        _target_: coda.network.transformer.rope_transformer.NetworkEncoderRoPE
        max_len: 300
        output_dim: 90
        objtraj_dim: 0
        beta_dim: 0
        skeleton_dim: 0
        clip_dim: 0
    args:
        endecoder_opt: 
            _target_: coda.model.diff.utils.endecoder.HandPoseEnDecoder
            stats_name: LEFTHANDPOSE_ARCTIC_GRAB
            is_nobeta: True

        guidance_scale: 1.0
        num_inference_steps: 100
        scheduler_opt_train: # Always DDPM
            beta_schedule: squaredcos_cap_v2 # cosine instead of linear
            prediction_type: sample
            clip_sample: False
            timestep_spacing: "linspace"
            num_train_timesteps: 1000
        scheduler_opt_sample:
            _target_: diffusers.schedulers.DDPMScheduler # potentially DDIM
            beta_schedule: squaredcos_cap_v2 # cosine instead of linear
            prediction_type: sample
            clip_sample: False
            timestep_spacing: "linspace"
            num_train_timesteps: 1000

data:
    loader_opts:
        train:
            batch_size: 32
            num_workers: 4

pl_trainer:
    precision: 16-mixed
    # precision: 32
    log_every_n_steps: 50
    gradient_clip_val: 0.5
    max_epochs: 1000
    check_val_every_n_epoch: 50
    devices: 1

logger:
    _target_: pytorch_lightning.loggers.WandbLogger
    save_dir: ${output_dir} # /save_dir/name/version/sub_dir
    name: ${exp_name_base}${exp_name_var}
    project: diffusion_handpose
